name: Try to expand local template using cargo-generate
on: [push, pull_request]

jobs:
  build:
    name: Render template and build
    runs-on: ubuntu-latest
    env:
      PROJECT_NAME: demo
      CARGO_GENERATE_VALUE_REGISTRY: ghcr.io
      CARGO_GENERATE_VALUE_REGISTRY_MODULE_PATH_PREFIX: "kubewarden/policies"
      CARGO_GENERATE_VERSION: "v0.22.0"
      CARGO_GENERATE_CHECKSUM: "c724263a5ec7ce3536777926250ded6ed8388747abaabd43e94ea06a045bbaab5e5e8055e57febb834c77e8ffdf120958e4617fa0a67594597acb0420935b4bb"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Run cargo generate
        run: |
          echo "$CARGO_GENERATE_CHECKSUM  cargo-generate.tar.gz" > checksum
          curl -L -o cargo-generate.tar.gz "https://github.com/cargo-generate/cargo-generate/releases/download/$CARGO_GENERATE_VERSION/cargo-generate-$CARGO_GENERATE_VERSION-x86_64-unknown-linux-musl.tar.gz"
          sha512sum -c checksum
          tar -xvf cargo-generate.tar.gz

          ./cargo-generate generate --path . --verbose --name $PROJECT_NAME
      - name: Prepare Rust environment
        run: |
          rustup toolchain install stable --profile minimal --target wasm32-wasip1
      - name: Install kwctl
        uses: kubewarden/github-actions/kwctl-installer@v4.5.3
      - name: Install bats
        run: sudo apt install -y bats
      - name: Move rendered template
        run: |
          # we need to move the generated project to a temp folder, away from the template project
          # otherwise `cargo` runs would fail
          # see https://github.com/rust-lang/cargo/issues/9922
          mv $PROJECT_NAME ${{ runner.temp }}/
      - name: Test
        run: |
          cd ${{ runner.temp }}/$PROJECT_NAME
          make test
      - name: e2e-tests
        run: |
          cd ${{ runner.temp }}/$PROJECT_NAME
          make e2e-tests
